@import '../../../styles/global.scss';

.work-tabs-wrapper {
  display: grid;
  margin-top: 4%;

  @media only screen and (min-width: $small-bp) {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
  }
}

div.work-tabs-nav {
  .work-tabs-buttons {
    position: relative;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    font-size: 1.2rem;

    button {
      padding: 2% 5% 2% 2%;
      border-bottom: 0.5px solid #{$main-text-color}43;
      background-color: transparent;
      color: #{$main-text-color};
      border-top: none;
      border-right: none;
      border-left: none;
      text-align: start;
      font-size: 0.9em;
      font-family: 'Londrina Solid', sans-serif;
    }

    button:hover {
      cursor: pointer;
      background-color: rgba(30, 32, 35, 0.36);
    }

    button.active {
      pointer-events: none;
      color: #{$secondary-text-color};
      background-color: #1E202337;
      border-bottom: 0.5px solid;
      font-weight: 600;
    }

    @media only screen and (min-width: $small-bp) {
      flex-direction: column;

      button {
        padding: 4% 6%;
        margin-right: 10%;
        border-left: 0.5px solid #{$main-text-color}43;
        border-bottom: none;
        border-top: none;
        border-right: none;
      }

      button.active {
        border-left: 0.5px solid;
        border-bottom: none;
      }
    }
  }
}

.info {
  p.work-title {
    margin-top: 0;

    a {
      color: #{$secondary-text-color};
      font-weight: 600;
    }
  }

  ul {
    padding-inline-start: 3%;

    li {
      padding: 0 0 2% 1%;
      font-size: 1.1rem;

      &::marker {
        //content: '\2727';//'\2713';
        //margin-right: 1em;
        color: #{$secondary-text-color};
      }

      @media only screen and (min-width: $small-bp) {
        font-size: 1.2rem;
      }
    }
  }
}
