@import '../../../styles/global.scss';

.swiper {
  height: 100%;
  .swiper-pagination-bullet-active {
    background: #{$secondary-text-color};
  }
}

.pagination-center {
  .swiper-pagination {
    transition: .5s;
    transform: translateX(0);
  }
}

.pagination-start {
  .swiper-pagination {
    transition: .5s;
    transform: translateX(-27vw);
  }

  @media only screen and (min-width: $small-bp) {
    .swiper-pagination {
      transform: translateX(0);
    }
  }
}

.gallery-container {
  position: relative;
  width: 96vw;
  height: 75vh;
  margin: 0 auto;

  .gallery-btn {
    position: absolute;
    right: 5%;
    bottom: 0;
    margin: 0;

    display: flex;
    font-size: 1rem;
    z-index: 2;
    visibility: visible;
    transform: translateY(0);
    transition: .5s;

    @media only screen and (min-width: $small-bp) {
      width: 10vw;
    }
  }

  .gallery-btn.hide {
    visibility: hidden;
    transform: translateY(150px);
    transition: .7s;
  }

  @media only screen and (min-width: $small-bp) {
    width: 92vw;
  }
}



