@import '../../styles/global.scss';

$hide: opacity 1s;

.arrow-nav {
  @media only screen and (max-width: $medium-bp) {
    display: none;
  }

  position: fixed;
  bottom: 0;
  right: 2.5vw;
  height: calc(100vh - 45px);
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  &:hover {
    .arrow-nav-icons {
      opacity: 0.6;
    }
  }

  .arrow-nav-btn {
    margin: 2.5rem 0;
    padding: 0;

    &:hover {
      .arrow-nav-icons {
        opacity: 0.9;
        background-color: #FFFFFF11;
      }
    }
  }

  .arrow-nav-icons {
    height: 50px;
    font-size: 5rem;
    opacity: 0.3;
    transition: 0.4s;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: none;
  }

  .hide {
    opacity: 0 !important;
    transition: $hide;
    pointer-events: none !important;
  }
}
