@import '../../styles/global.scss';

$iconsTrans: -30vh;

@keyframes enter-social {
  0% {
    transform: translateY($iconsTrans);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-social {
  display: none;
  position: fixed;
  top: 5vh;
  left: 0;
  z-index: 90;
  width: 5vw;
  transition: 0.5s 1s;

  animation: enter-social 0.6s 1s backwards;


  ul {
    width: min-content;
    margin: 1.5vh auto;
    list-style: none;
    padding: 0;

    li {
      padding: 4px 0;
      transition: .3s;
      &:hover {
        transition: .3s;
        transform: translateX(3px);
      }
      a {
        color: #9c9c9c;
        &:hover {
          color: #{$secondary-text-color};
        }
      }
    }
  }

  .line {
    right: -10px;
    width: 1px;
    height: 10vh;
    margin: 0 auto;
    background-color: #9c9c9c;
  }

  @media only screen and (min-width: $small-bp) {
    display: block;
  }

}

.over-s {
  visibility: hidden;
  transform: translateY($iconsTrans);
  transition: 0.5s calc(var(--sectionGap) * 0.8s);
}
