// Colors
$main-text-color: #AED6D4;
$secondary-text-color: #FF3D00;
$main-background-color: #090a16;
$about-background-color: #226765;
$skills-background-color: #0D5452;
$portfolio-background-color: #192b2b; //#151e1e;
$color-complement-1: #608D8B;
$color-complement-2: #3E7A78; // used directly via js

// breakpoints
$small-bp: 480px;
$medium-bp: 768px;
$large-bp: 1350px;

// Animations
$scroll: calc(calc(var(--sectionGap) / 1.4) * 1.8s) cubic-bezier(0.65, 0, 0.35, 1); /* easeInOutCubic --- calc(var(--sectionGap) * 1.s) */

html, body {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Londrina Solid', sans-serif;
  font-size: calc(65% + 0.8vmin);
  line-height: 2em;
  letter-spacing: 0.04rem;
  color: $main-text-color;
  background-color: $main-background-color;
}

main {
  position: relative;
  transform: translateY(calc(var(--scrollPos) * 1vh));
  transition: $scroll;
  z-index: 1;
}

.keyboard-open {
  transition: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  font-family: 'Londrina Solid', sans-serif;
  //font-size: 2rem;
}

h2 {
  font-size: 2.2rem;

  @media only screen and (min-width: $small-bp) {
    font-size: 2.3rem;
  }
}

p {
  font-size: 1.3rem;

  @media only screen and (min-width: $small-bp) {
    font-size: 1.5rem;
  }
}

a {
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    color: $secondary-text-color;
    text-decoration: underline;
  }
}

section {
  display: grid;
  align-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 10% auto 0;

  z-index: 2;

  @media only screen and (min-width: $small-bp) {
    margin: 0 auto;
    width: 80%;
  }

  @media only screen and (min-width: $medium-bp) {
    width: 70%;
  }
}



