@import '../../../../styles/global.scss';

.card-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;

  .MuiPaper-root {
    background-color: transparent;
  }
}

.card {
  position: relative;
  height: 90%;
  margin: 0;
  background-color: transparent; //#02B4FA42; #033432
  text-align: start;
  box-shadow: 2px 10px 15px -6px rgb(255 254 254 / 10%);

  @media only screen and (min-width: $small-bp) {
    height: 85%;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 27%;
    padding: 0 2%;
    text-align: center;

    @media only screen and (min-width: $small-bp) {
      height: 37%;
    }

    .card-title {
      color: #fff; //#ffc57d;
      font-size: 2em;

      @media only screen and (min-width: $small-bp) {
        font-size: 2em;
      }
    }

    .card-subtitle {
      color: #{$secondary-text-color};//#ffc57d;
      font-size: 1.7em;
    }
  }

  .role {
    margin: 0;
    padding: 0 2%;
    font-size: 1.3em;
    color: #{$main-text-color}; //#c5c5c5;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding: 2% 4%;
    color: #fff; //$main-text-color;
    font-size: 1.2rem;

    .project-description {
      padding-bottom: 2%;
      overflow-y: auto;

      -ms-overflow-style: none;  // IE and Edge
      scrollbar-width: none;  // Firefox
    }

    // Chrome and Safari
    .project-description::-webkit-scrollbar {
      display: none;
    }

    ul {
      margin: 0.5em 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      font-size: 0.9em;

      li {
        padding-right: 5%;
        font-family: 'Share', sans-serif;
        color: $main-text-color;
      }
    }

    @media only screen and (min-width: $small-bp) {
      height: 45%;
    }
  }

  .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow: hidden;
    background-blend-mode: overlay;
    background-color: #01212c;
    background-size: cover;
    z-index: -1;

    @media only screen and (min-width: $small-bp) {
      height: 35%;
    }
  }
}

.card-buttons {
  position: absolute;
  bottom: 0;
  right: 1px;
  width: 100%;
  text-align: end;
  margin: 1%;
  .card-btn {
    padding: 1% 3%;
    margin: 1% 0;
    color: #ffffff;
    font-family: 'Share', sans-serif;

    &:hover {
      color: #{$secondary-text-color};
      background-color: #FFFFFF0C;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

