@import '../../styles/global.scss';

.app-about {
  background-color: #0e3634;// #001715; // $about-background-color;

  .img-wrapper {
    position: relative;
    float: right;
    margin: 0 0 1% 2%;

    @media only screen and (min-width: $small-bp) {
      margin-left: 5%;
    }
  }

  .my-image {
    border-radius: 3px;
    width: 150px;
    height: 200px;
    background-image: url('../../assets/images/IMG_2548-thumbnail.webp');
    background-position: center;
    background-size: 150px 200px;
    background-blend-mode: overlay;
    background-color: rgba(24, 2, 2, 0.45);
    transition: .3s;

    &:hover {
      background-color: rgba(99, 11, 11, 0.25);
      transition: .3s;
    }

    @media only screen and (min-width: $small-bp) {
      width: 200px;
      height: 266px;
      background-size: 200px 266px;
    }
  }

  .right-line, .bottom-line {
    position: absolute;
  }

  div.right-line {
    right: -10px;
    width: 2px;
    height: 200px;
    background-color: #{$secondary-text-color};

    @media only screen and (min-width: $small-bp) {
      height: 266px;
    }
  }

  div.bottom-line {
    bottom: -10px;
    width: 95%;
    height: 2px;
    margin: 2% 0 0 0;
    background-color: #{$secondary-text-color};
  }
}
